.principal{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.bannerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 2vh
}