.box1{
    color: #BFB0A3;
    border-bottom: 1px solid #BFB0A3;
    padding-right: 10PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-bottom: 20px; 
    height: 30%; 
}
.all{
    margin-top: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #260101;
    height: 45vh;
    
}
.box{
    min-width: 60vw;
    max-width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}