
.tituloTopico{
    font-family: 'EB Garamond', 'serif';
    color: #BFB0A3;
    font-weight:lighter ;
    font-size: 4vh;
    border-bottom: 1px solid #8C7B6C;
    margin-top: 3vw;
}
.whiskys{
    width: 80%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;

}
.whiskys::-webkit-scrollbar{
    display: none;
}
.cardWhisky{
    margin-top: 2vh;
    margin-right: 10px;
    flex: none;
}
.buttonCarousel{
    display: flex;
    align-items: center;
    flex-direction: row;

}
.buttonCarousel > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.5s;
}
@media (max-width: 760px) {
    h1{
        font-size: 3vh;
    }

    
}